.callout {
    border: solid 1px #ff0080;
    margin: 2px 4x;
    padding: 2px 6px;
}

.code {
    background: #ccc;
    margin: 1px 2p;
    padding: 1px 4x;
    font-family: monospace;
}

.highlight {
    background: #ff0;
    font-style: italic;
}